{% extends 'base.html' %}

{% load static %}

{% block content %}

<script type="text/javascript">

  function searchqdetail() {
     var searchTxt = document.getElementById('search').value;
     var searchURL = "";
     if(searchTxt != ""){
      searchURL = "{% url 'glossary_search' %}" + searchTxt + "/";
     }else{
      searchURL = "{% url 'glossary_search' %}";
     }
     
     window.location.href = searchURL;
  }

  function checkEnterKey() {
    if (event.which == 13 || event.keyCode == 13) {
      searchqdetail();
    }
  }
</script>

<style type="text/css">
  table {
    border-collapse: separate;
    border-spacing: 10px 0;
  }
  td {
    padding: 5px 0;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .affiliate-left {
    grid-column: 1;
    grid-row: 1;
  }
  .glossary-table {
    grid-column: 2 / 6;
    grid-row: 1;
  }
  .affiliate-right {
    grid-column: 7;
    grid-row: 1;
  }

</style>



<div class="grid-wrapper">

<!-- https://amzn.to/3pp4Jxn -->
<a href="https://amzn.to/3pp4Jxn">
<div class="affiliate-left" width="1000">
  
  <div>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=cybercommer07-21&language=en_GB&marketplace=amazon&region=GB&placement=B09XF8DTD7&asins=B09XF8DTD7&linkId=2b7b6faec4e7506eab49c752b1079b72&show_border=true&link_opens_in_new_window=true"></iframe>
  </div>
  <div style="position:fixed;top:260px">
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=cybercommer07-21&language=en_GB&marketplace=amazon&region=GB&placement=B093CHZ62N&asins=B093CHZ62N&linkId=fa41c75c60c547e436cce18c7afdd910&show_border=true&link_opens_in_new_window=true"></iframe>
  </div>
  <div style="position:fixed;top:460px">
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=cybercommer07-21&language=en_GB&marketplace=amazon&region=GB&placement=B08Z5QYZTL&asins=B08Z5QYZTL&linkId=56b7f1d04d0eabe4b6feb8d4a52964f2&show_border=true&link_opens_in_new_window=true"></iframe>
  </div>
  <div style="position:fixed;top:660px">
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=cybercommer07-21&language=en_GB&marketplace=amazon&region=GB&placement=B08T2Y494K&asins=B08T2Y494K&linkId=45a9e9aaa068cdeca929ae2ade88aa02&show_border=true&link_opens_in_new_window=true"></iframe>
  </div>

  <!-- <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=14&l=ur1&category=piv&banner=0PEWVWFBC308JPVH9EG2&f=ifr&linkID=665fe2d239048330b726a37c1ac695d4&t=cybercommer07-21&tracking_id=cybercommer07-21" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
  <a target="_blank" href="https://www.amazon.co.uk/gp/search?ie=UTF8&tag=cybercommer07-21&linkCode=ur2&linkId=a94db740d0518039afe7f87c377be6b2&camp=1634&creative=6738&index=toys&keywords=Magic the Gathering">Magic the Gathering</a>
  <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="cybercommer07-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="GB"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="160"; amzn_assoc_height ="600"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="Magic the Gathering";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=GB"></script> -->

</div>
</a>


<div class="glossary-table" style="width:max-content;margin-top:15px;margin-left:20px;">
  <div style="width: 400px;padding-left: 50px;padding-top: 10px;padding-bottom:10px;display: flex;gap:4px;">
    <textarea style="margin: 0px;padding: 0px;resize: none;font-family: Arial, Helvetica, sans-serif;" id="search" onkeypress="checkEnterKey();" placeholder="Search for anything..." rows=1 cols="40"></textarea>
    <button id = "searchbutton">Search</button>
  </div>
  
  <script type="text/javascript">
    document.getElementById('searchbutton').addEventListener("click", searchqdetail);
  </script>



  <table style="border:1px solid black;">
    <thead>
      <tr style="border:1px solid black;">
        <th>English Translation</th>
        <th>Magic Definition</th>
        <th>German Translation</th>
        <th>Japanese Translation</th>
        <th>Furigana</th>
        <th>Romaji</th>
        <th>French Translation</th>
        <th>Literal Translation List</th>
        <th>Example Card 1</th>
        <th>Example Card 2</th>
      </tr>
    </thead>
    <tbody>

      <!-- style="margin-top:100px;margin-bottom:100px;margin-right:150px;margin-left:80px;" -->


{% for word in object_list %}
  <tr style="border:1px solid black;">
    <td data-label="English Translation">{{ word.eng_trans }}</td>
    <!-- <a href="{{ word.get_absolute_url }}">{{ word.eng_trans }}</a> -->
    <td data-label="Magic Definition" style="width:250px;">{{ word.magic_def }}</td>
    <td data-label="German Translation">{{ word.german_trans }}</td>
    <td data-label="Japanese Translation">{{ word.japanese_trans }}</td>
    <td data-label="Furigana">{{ word.furigana }}</td>
    <td data-label="Romaji">{{ word.romaji }}</td>
    <td data-label="French Translation">{{ word.french_trans }}</td>
    <td data-label="Literal Translation List">{{ word.lit_trans_list }}</td>
    <td data-label="Example Card 1"><a class="imagelink" href="{{ word.example_card_1 }}"><img id="img1" src="{{ word.example_card_1 }}"></a></td>
    <td data-label="Example Card 2"><a class="imagelink" href="{{ word.example_card_2 }}"><img id="img2" src="{{ word.example_card_2 }}"></a></td>
  </tr>
{% endfor %}
    </tbody>
  </table>
</div>

<div class="affiliate-right">
  aff-r
  <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="cybercommer07-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="GB"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="160"; amzn_assoc_height ="600"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="Magic the Gathering";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=GB"></script>
</div>

</div>

<!-- <form method='POST'>  {% csrf_token %}
  {{ form.as_p }}
<input type='submit' value='Save' />
</form> -->


{% endblock %}