{% extends 'base.html' %}


{% block content %}



<div class="glossary-table" style="margin-top:100px;margin-bottom:100px;margin-right:150px;margin-left:80px;"">
  <table style="border:1px solid black;">
    <thead>
      <tr style="border:1px solid black;">
        <th>English Translation</th>
        <th>Magic Definition</th>
        <th>German Translation</th>
        <th>Japanese Translation</th>
        <th>Furigana</th>
        <th>Romaji</th>
        <th>French Translation</th>
        <th>Literal Translation List</th>
      </tr>
    </thead>
    <tbody>

{% for word in object_list %}
  <tr style="border:1px solid black;">
    <td data-label="English Translation">{{ word.eng_trans }}</td>
    <!-- <a href="{{ word.get_absolute_url }}">{{ word.eng_trans }}</a> -->
    <td data-label="Magic Definition" style="width:600px;">{{ word.magic_def }}</td>
    <td data-label="German Translation">{{ word.german_trans }}</td>
    <td data-label="Japanese Translation">{{ word.japanese_trans }}</td>
    <td data-label="Furigana">{{ word.furigana }}</td>
    <td data-label="Romaji">{{ word.romaji }}</td>
    <td data-label="French Translation">{{ word.french_trans }}</td>
    <td data-label="Literal Translation List">{{ word.lit_trans_list }}</td>
  </tr>
{% endfor %}
    </tbody>
  </table>
</div>



<!-- <form method='POST'>  {% csrf_token %}
  {{ form.as_p }}
<input type='submit' value='Save' />
</form> -->


{% endblock %}