{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .affiliate-left {
    grid-column: 1;
    grid-row: 1;
  }
  .glossary-table {
    grid-column: 2 / 6;
    grid-row: 1;
  }
  .affiliate-right {
    grid-column: 7;
    grid-row: 1;
  }

</style>

<script type="text/javascript">
  
  function getLargeImage() {
    var elements = document.getElementsByClassName("imagelink");
    for(var i = 0; i < elements.length; i++){
      elements[i].href = elements[i].href.replace("small", "large");
    }
  }

  window.onload = getLargeImage;

</script>

<div class="grid-wrapper">

<!-- https://amzn.to/3IdArFI -->

<div class="affiliate-left">
  <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="cybercommerce-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="GB"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="160"; amzn_assoc_height ="600"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="Magic the Gathering";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=GB"></script>
</div>

<div class="glossary-table" style="width:max-content;margin-top:40px;margin-left:20px;">
  <table style="border:1px solid black;">
    <thead>
      <tr style="border:1px solid black;">
        <th>English Translation</th>
        <th>Magic Definition</th>
        <th>German Translation</th>
        <th>Japanese Translation</th>
        <th>Furigana</th>
        <th>Romaji</th>
        <th>French Translation</th>
        <th>Literal Translation List</th>
        <th>Example Card 1</th>
        <th>Example Card 2</th>
      </tr>
    </thead>
    <tbody>

      <!-- style="margin-top:100px;margin-bottom:100px;margin-right:150px;margin-left:80px;" -->


{% for word in object_list %}
  <tr style="border:1px solid black;">
    <td data-label="English Translation">{{ word.eng_trans }}</td>
    <!-- <a href="{{ word.get_absolute_url }}">{{ word.eng_trans }}</a> -->
    <td data-label="Magic Definition" style="width:250px;">{{ word.magic_def }}</td>
    <td data-label="German Translation">{{ word.german_trans }}</td>
    <td data-label="Japanese Translation">{{ word.japanese_trans }}</td>
    <td data-label="Furigana">{{ word.furigana }}</td>
    <td data-label="Romaji">{{ word.romaji }}</td>
    <td data-label="French Translation">{{ word.french_trans }}</td>
    <td data-label="Literal Translation List">{{ word.lit_trans_list }}</td>
    <td data-label="Example Card 1"><a class="imagelink" href="{{ word.example_card_1 }}"><img id="img1" src="{{ word.example_card_1 }}"></a></td>
    <td data-label="Example Card 2"><a class="imagelink" href="{{ word.example_card_2 }}"><img id="img2" src="{{ word.example_card_2 }}"></a></td>
  </tr>
{% endfor %}
    </tbody>
  </table>
</div>

<div class="affiliate-right">
  <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="cybercommerce-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="GB"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="160"; amzn_assoc_height ="600"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="Magic the Gathering";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=GB"></script>
</div>

</div>

<!-- <form method='POST'>  {% csrf_token %}
  {{ form.as_p }}
<input type='submit' value='Save' />
</form> -->


{% endblock %}