{% extends 'base.html' %}


{% block content %}



<!-- <h1>Lot Reference Number {{ object.reference }}</h1>
<p>Sale Date: {{ object.sale_date }}</p>
<p id="emailsent">Email Sent: {{ object.email_sent|yesno:"Yes,No,None" }}</p>
<p>Exported: {{ object.exported_check|yesno:"Yes,No,None" }}</p>
<p>Commission Rate: {{ object.commission_rate }}%</p>
<p>Lot Fee: £{{ object.lot_fee }}</p>
<p>Pickup Fee: £{{ object.pickup_fee }}</p> -->



<!-- <form method='POST'>  {% csrf_token %}
  {{ form.as_p }}
<input type='submit' value='Save' />
</form> -->


{% endblock %}