{% extends 'base.html' %}


{% block content %}

<br>

<center>

    <p>This website has been made as a hobby project, I hope you enjoy your time on the site</p>

    <p>Disclaimer: I am also a learner of languages (English is my first) and I do not pretend to be an expert so I apologise if there are make mistakes</p>

    <p>The Scryfall API is used to render images <a href=https://scryfall.com>https://scryfall.com</a></p>

    <p>Affiliate links are used in this website in the hopes of generating some amount of revenue from this project that I have invested a deal of time in. As an Amazon Associate I earn from qualifying purchases. I also link to my own listings on eBay in some articles. </p>

</center>

<br>

{% endblock %}