{% extends 'base.html' %}


{% block content %}


<center>

    <p>This website has been made as a hobby project, I hope you enjoy your time on the site</p>

    <p>Disclaimer: I am also a learner of languages (English is my first) and I do not pretend to be an expert so I apologise if I make mistakes</p>

    <p>I use the Scryfall API to render images <a href=https://scryfall.com>https://scryfall.com</a></p>

    <p>I use affiliate links in this website in the hopes of generating some amount of revenue from this project that I have invested a deal of time in. As an Amazon Associate I earn from qualifying purchases.</p>

</center>



{% endblock %}